// Import page-specific CSS files here.
@import "home";

#filter {
  padding-bottom: 16px;
}
#filter h2 {
  font-size:medium;
}

#filter h3 {
  font-size:small;
}

h3 {
  font-size: 25px;
  color: rgb(113, 113, 113);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-height: 20px;
}

p {
  font-size: 25px;
  color: rgb(113, 113, 113);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 14px;
  font-height: 20px;
}
