// Import page-specific CSS files here.
@import "home";

#filter {
  padding-bottom: 16px;
}
#filter h2 {
  font-size:medium;
}

#filter h3 {
  font-size:small;
}

p {
  line-height: 30px;
  font-size: 20px;
  font-family: 'Blinker', sans-serif;
  font-size: 15px;
}
