<div class="banner" style="background-image: url(https://res.cloudinary.com/geuxor/image/upload/v1615488115/Highlining-adrenalinejunkies_h5mdds.jpg);">
  <div class="banner-content">
  <!-- <a class="btn btn-secondary my-5" href="/cocktails/new">Add a new cocktail</a> -->
    <h1>Experience the world with WildFlower</h1>
    <h2>Get ready for the adventure of your life!</h2>

  </div>

  <form class="search-input" action="/experiences">
    <label for="location">Location</label>
    <input id="location" type="text" name="location" placeholder="Barcelona">
    <label for="start-date">Start-Date</label>
    <input id="start-date" type="text" name="start-date" placeholder="<%= Date.today.strftime('%F') %>">
    <label for="end-date">End-Date</label>
    <input id="end-date" type="text" name="end-date" placeholder="<%= (Date.today + 3).strftime('%F') %>">
    <button class="btn search" type="submit">
                <i class="fa fa-search"></i>
    </button>
  </form>

</div>

<div class="container w-70 mt-5">
      <h2>Discover your experience</h2>
      <h5>Unique activities with local experts—in person or online.</h5>
  <div class="cards px-0">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=708&q=80);">
          <div class="card-description">
          <a href="/experiences?activity=Nature">Nature</a>
          </div>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1589704379319-3b83010f661e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80);">
            <div class="card-description">
            <a href="/experiences?activity=Sport">Sport</a>
            </div>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1593288926498-e756f7705db2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
            <div class="card-description">
              <a href="/experiences?activity=Animals">Animals</a>
            </div>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1593288926498-e756f7705db2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
            <div class="card-description">
              <a href="/experiences?activity=Wild">Wild</a>
            </div>
        </div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1465310477141-6fb93167a273?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDJ8fHNwb3J0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
            <div class="card-description">
              <a href="/experiences?activity=Danger">Danger</a>
            </div>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1453473552141-5eb1510d09e2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjB8fHdpbGR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
            <div class="card-description">
              <a href="/experiences?activity=Culture">Culture</a>
            </div>
        </div>

      </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img class="image" src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njl8fHRyYXZlbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
    </div>

    <div class="col-4">
      <img class="image" src="https://images.unsplash.com/photo-1502301197179-65228ab57f78?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1532&q=80">
    </div>

    <div class="col-4">
      <img class="image" src="https://images.unsplash.com/photo-1553342385-111fd6bc6ab3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTJ8fHRyYXZlbHxlbnwwfDF8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>


</div>
