<div class="row col-12 col-md-12">

  <div class="container col-12 col-md-6 mr-0">
    <div class="flat-form">
      <h1>Launch a new Experience</h1>
      <div class="mt-3">
        <%= render 'form', experience: @experience %>
      </div>
    </div>
  </div>

  <div class="container col-12 col-md-5 mx-0">
    <div class="form-right"  style="background-image: url('https://res.cloudinary.com/geuxor/image/upload/v1615405668/rocket_tlaqkx.jpg');">
    </div>
  </div>

</div>
