.container-content {
  background-color: black;
  color: white;
}
.container-content h2 {
  text-align: left;
  font-size: 26px;
  color: #222222
  background-style: #222222;
  font-weight: 800;
  font-family: Circular, sans-serif;
}

.container-content h5 {
  text-align: left;
  font-size: 30px;
  color: #222222;
  background-style: #222222;
  font-weight: 500;
  font-family: Circular, sans-serif;
  opacity: .5;
}

